@page
@model WebVella.TagHelpers.Site.Pages.indexModel
@addTagHelper *, WebVella.TagHelpers
@using WebVella.TagHelpers.Models;
@using System.Web;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@{
	Layout = null;
	var apiUrl = "/";
	var cb = DateTime.Now.ToString("yyyyMMddHHmmss");
	var textFieldValue = "this is a test <script></script>";
	var htmlValue = "<p>&lt;script&gt;</p>";
	var chartDs = new WvChartDataset(){
		BorderColor = "#FF9800",
		Data = new List<decimal>{5,15,25}
	};
	var autoNumberValue = (decimal)1.00;
	var autonumberTemplate = "boz-{0}";
	var chartDsList = new List<WvChartDataset>{ chartDs};

	var htmlEncoded = HttpUtility.HtmlEncode("<div class=\"text\">text<script></div>");
	var colorVal = "#FF9800";
	var chGridRows = new List<WvSelectOption>(){
		new WvSelectOption(){Label = "row 1", Value = "row1"},
		new WvSelectOption(){Label = "row 2", Value = "row2"},
		new WvSelectOption(){Label = "row 3", Value = "row3"},
	};

	var chGridColumns = new List<WvSelectOption>(){
		new WvSelectOption(){Label = "col 1", Value = "col1"},
		new WvSelectOption(){Label = "col 2", Value = "col2"},
		new WvSelectOption(){Label = "col 3", Value = "col3"},
	};

	var chGridValues = new List<WvKeyStringList>(){
		new WvKeyStringList(){Key = "row1",Values = new List<string>{"col1","col2"}}
	};

	var chGridValuesJson = JsonConvert.SerializeObject(chGridValues);

	var chkBxList = new List<WvSelectOption>(){
		new WvSelectOption(){Value = "1", Label = "one"},
		new WvSelectOption(){Value = "2", Label = "two"},
	};

	var chkBxListValues = new List<string>{"1"};

	decimal decVal = (decimal)23.3434;

	var emailVal = "test@domain.com ";

	var fileVal = "/_content/WebVella.TagHelpers/assets/background.png";
	var multiFilesVal = new List<string>{"/_content/WebVella.TagHelpers/assets/background1.png","/_content/WebVella.TagHelpers/assets/background2.png"};
	var multiFilesValRecords = new List<dynamic>{
		new {
			path = "/_content/WebVella.TagHelpers/assets/background1.png",
			name = "FileName1",
			icon = "",
			size = 345,
			timestamp = DateTime.Now,
			author = "Boz Zashev"
		},
		new {
			path = "/_content/WebVella.TagHelpers/assets/background2.png",
			name = "FileName2",
			icon = "",
			size = 58888
		}
	};

	var guidVal = Guid.NewGuid();

	var iconVal = "fa fa-save";
	var urlVal = "http://google.com";

	var gridColumns = new List<WvGridColumnMeta>{
		new WvGridColumnMeta{
			Name = "col1",
			Label = "column 1"
		}
	};
	var gridRecords = new List<string>{"one","two"};

	var valErrors = new List<KeyValuePair<string,string>>{
		new KeyValuePair<string, string>("name","Name is required"),
		new KeyValuePair<string, string>("email","Email is required")
	};
	var csvFieldValue = "1,2,3\r\njohn,eve,jim";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>TagHelpers Kitchen Sink</title>
	<meta charset="utf-8">

	<wv-includes></wv-includes>


	@* Demo Only *@
	<link href="/css/demo.css?cb=@cb" rel="stylesheet" type="text/css" />
	<style>		svg.fa {
	height:1em;
	}
	</style>
	<script>
		var SiteLang = "bg";
	</script>
</head>
<body>
	<h2>wv-icon</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Bootstrap Icon
				</div>
				<div class="card-body">
					<wv-icon type="BsPuzzle"></wv-icon>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Material Design Filled Icon
				</div>
				<div class="card-body">
					<wv-icon type="MdfAccountBalanceWallet"></wv-icon>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Other
				</div>
				<div class="card-body">
					<wv-icon type="LinkedIn"></wv-icon>
					<wv-icon type="Twitter"></wv-icon>
					<wv-icon type="Facebook"></wv-icon>
					<wv-icon type="Youtube"></wv-icon>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-button</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Button
	   @*<svg class="fa fa-fw">
		  <use xlink:href="/_content/WebVella.TagHelpers/lib/font-awesome/sprites/brands.svg#facebook"></use>
		</svg>
	   <svg class="fa fa-fw">
		  <use xlink:href="/_content/WebVella.TagHelpers/lib/font-awesome/sprites/brands.svg#twitter"></use>
		</svg>
	   <svg class="fa fa-fw">
		  <use xlink:href="/_content/WebVella.TagHelpers/lib/font-awesome/sprites/brands.svg#linkedin"></use>
		</svg>*@
				</div>
				<div class="card-body">
					<wv-button type="Button" color="Blue" text="This is a Button"></wv-button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-button type="ButtonLink" color="Blue" text="This is a Button"></wv-button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-button type="LinkAsButton" color="Blue" text="This is a Button"></wv-button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-button type="Submit" color="Blue" text="This is a Button"></wv-button>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-button-group</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Horizontal group
				</div>
				<div class="card-body">
					<wv-button-group>
						<wv-button color="Red" is-outline="true" text="This is a Button"></wv-button>
						<wv-button color="Blue" is-outline="true" text="This is a Button"></wv-button>
					</wv-button-group>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Vertical group
				</div>
				<div class="card-body">
					<wv-button-group is-vertical="true">
						<wv-button color="Red" is-outline="true" text="This is a Button"></wv-button>
						<wv-button color="Blue" is-outline="true" text="This is a Button"></wv-button>
					</wv-button-group>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-button-toolbar</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Horizontal toolbar
				</div>
				<div class="card-body">
					<wv-button-toolbar>
						<wv-button-group>
							<wv-button color="Red" is-outline="true" text="A"></wv-button>
							<wv-button color="Blue" is-outline="true" text="B"></wv-button>
						</wv-button-group>
						<wv-button-group class="ml-2">
							<wv-button color="Red" is-outline="true" text="C"></wv-button>
							<wv-button color="Blue" is-outline="true" text="D"></wv-button>
						</wv-button-group>
					</wv-button-toolbar>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Vertical toolbar
				</div>
				<div class="card-body">
					<wv-button-toolbar is-vertical="true">
						<wv-button-group>
							<wv-button color="Red" is-outline="true" text="A"></wv-button>
							<wv-button color="Blue" is-outline="true" text="B"></wv-button>
						</wv-button-group>
						<wv-button-group class="ml-2">
							<wv-button color="Red" is-outline="true" text="C"></wv-button>
							<wv-button color="Blue" is-outline="true" text="D"></wv-button>
						</wv-button-group>
					</wv-button-toolbar>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-chart</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Line
				</div>
				<div class="card-body">
					<wv-chart datasets="@chartDsList" type="Line"></wv-chart>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-echarts</h2>
	<div class="row">
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Role profile
				</div>
				<div class="card-body">
					<wv-echarts mode="expertise" css-class="map"></wv-echarts>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Geo availability
				</div>
				<div class="card-body">
					<wv-echarts mode="map" css-class="map"></wv-echarts>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Role profile
				</div>
				<div class="card-body">
					<wv-echarts mode="match" width="100%" height="300px"></wv-echarts>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Time availability
				</div>
				<div class="card-body">
					<wv-echarts mode="calendar" width="100%" height="300px"></wv-echarts>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Hits on Finds
				</div>
				<div class="card-body">
					<wv-echarts mode="hits" width="100%" height="300px"></wv-echarts>
				</div>
			</div>
		</div>
		@*<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Time availability
				</div>
				<div class="card-body">
					<wv-echarts mode="calendar"></wv-echarts>
				</div>
			</div>
		</div>*@
	</div>

	<h2>wv-code-highlight</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Html
				</div>
				<div class="card-body">
					<wv-code-highlight code="@htmlEncoded"></wv-code-highlight>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-autonumber</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-autonumber value="@autoNumberValue" label-text="FieldLabel" name="text" mode="Form" template="@autonumberTemplate"></wv-field-autonumber>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-autonumber value="@autoNumberValue" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl" template="@autonumberTemplate"></wv-field-autonumber>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-autonumber value="@autoNumberValue" label-text="FieldLabel" name="text" mode="Display" template="@autonumberTemplate"></wv-field-autonumber>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-autonumber value="@autoNumberValue" label-text="FieldLabel" name="text" mode="Simple" template="@autonumberTemplate"></wv-field-autonumber>
				</div>
			</div>
		</div>
	</div>


	<h2>wv-field-checkbox</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-checkbox value="@true" label-text="FieldLabel" name="text" mode="Form"></wv-field-checkbox>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-checkbox value="@true" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-checkbox>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-checkbox value="@true" label-text="FieldLabel" name="text" mode="Display"></wv-field-checkbox>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-checkbox value="@true" label-text="FieldLabel" name="text" mode="Simple"></wv-field-checkbox>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-checkbox-grid</h2>
	<div class="row">
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-checkbox-grid rows="chGridRows" columns="chGridColumns" name="Grid" value="@chGridValuesJson"></wv-field-checkbox-grid>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-checkbox-list</h2>
	<div class="row">
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-checkbox-list options="chkBxList" value="@chkBxListValues" name="chkList"></wv-field-checkbox-list>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-code</h2>
	<div class="row">
		<div class="col-6">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-code  value="@htmlEncoded" name="chkList" is-encoded="true" label-mode="Hidden"></wv-field-code>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-color</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-color value="@colorVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-color>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-color value="@colorVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-color>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-color value="@colorVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-color>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-color value="@colorVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-color>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-currency</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-currency value="@decVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-currency>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-currency value="@decVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-currency>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-currency value="@decVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-currency>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-currency value="@decVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-currency>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-date</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-date value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Form" required="true"></wv-field-date>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-date value="@DateTime.Now" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"  required="true"></wv-field-date>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-date value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Display"  required="true"></wv-field-date>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-date value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Simple"></wv-field-date>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-datetime</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-datetime value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Form"></wv-field-datetime>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-datetime value="@DateTime.Now" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-datetime>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-datetime value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Display"></wv-field-datetime>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-datetime value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Simple"></wv-field-datetime>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-time</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-time value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Form"></wv-field-time>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-time value="@DateTime.Now" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-time>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-time value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Display"></wv-field-time>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-time value="@DateTime.Now" label-text="FieldLabel" name="text" mode="Simple"></wv-field-time>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-email</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-email value="@emailVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-email>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-email value="@emailVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-email>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-email value="@emailVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-email>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-email value="@emailVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-email>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-file</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-file value="@("")" label-text="FieldLabel" name="text" mode="Form"></wv-field-file>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-file value="@fileVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-file>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-file value="@fileVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-file>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-file value="@fileVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-file>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-file-multiple</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-file-multiple value="@multiFilesValRecords" label-text="FieldLabel" name="text" mode="Form" get-handler-prefix="/fs"></wv-field-file-multiple>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-file-multiple value="@multiFilesVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-file-multiple>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-file-multiple value="@multiFilesValRecords" label-text="FieldLabel" name="text" mode="Display"></wv-field-file-multiple>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-file-multiple value="@multiFilesValRecords" label-text="FieldLabel" name="text" mode="Simple"></wv-field-file-multiple>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-guid</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-guid value="@guidVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-guid>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-guid value="@guidVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-guid>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-guid value="@guidVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-guid>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-guid value="@guidVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-guid>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-html</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-html value="@textFieldValue" label-text="FieldLabel" name="text" mode="Form"></wv-field-html>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-html value="@textFieldValue" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-html>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-html value="@textFieldValue" label-text="FieldLabel" name="text" mode="Display"></wv-field-html>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-html value="@textFieldValue" label-text="FieldLabel" name="text" mode="Simple"></wv-field-html>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-icon</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-icon value="@iconVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-icon>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-icon value="@iconVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-icon>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-icon value="@iconVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-icon>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-icon value="@iconVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-icon>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-image</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-image value="@fileVal" label-text="FieldLabel" name="text" mode="Form" src-prefix="@null"></wv-field-image>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-image value="@fileVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"  src-prefix="@null"></wv-field-image>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-image value="@fileVal" label-text="FieldLabel" name="text" mode="Display" src-prefix="@null"></wv-field-image>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-image value="@fileVal" label-text="FieldLabel" name="text" mode="Simple" src-prefix="@null"></wv-field-image>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-multiselect</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-multiselect value="@chkBxListValues" label-text="FieldLabel" name="text" mode="Form" options="@chkBxList"></wv-field-multiselect>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-multiselect value="@chkBxListValues" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl" options="@chkBxList"></wv-field-multiselect>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-multiselect value="@chkBxListValues" label-text="FieldLabel" name="text" mode="Display" options="@chkBxList"></wv-field-multiselect>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-multiselect value="@chkBxListValues" label-text="FieldLabel" name="text" mode="Simple" options="@chkBxList"></wv-field-multiselect>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-select</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
			@{
			var ds = new WvSelectOptionsAjaxDatasource{
				DatasourceName = "CitySelectDs",
				Value = "id",
				Label = "label",
				PageSize = 10,
				UseSelectApi = true
			};
			var selectFieldId = new Guid("11111111-3B42-4B2D-A114-D4103AA7174D");
			}
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-select field-id="@selectFieldId" value="@("1")" label-text="FieldLabel" name="text" mode="Form" options="chGridRows"></wv-field-select>
				</div>
			</div>
			<script>
				function ChangeHandler(e) {
					console.log(e);
				};
				document.addEventListener("WvFieldSelect_Change",ChangeHandler);
			</script>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-select value="@("1")" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl" options="@chkBxList"></wv-field-select>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-select value="@("1")" label-text="FieldLabel" name="text" mode="Display" options="@chkBxList"></wv-field-select>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-select value="@("1")" label-text="FieldLabel" name="text" mode="Simple" options="@chkBxList"></wv-field-select>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-number</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-number value="@decVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-number>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-number value="@decVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-number>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-number value="@decVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-number>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-number value="@decVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-number>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-password</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-password value="@textFieldValue" label-text="FieldLabel" name="text" mode="Form"></wv-field-password>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-password value="@textFieldValue" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-password>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-password value="@textFieldValue" label-text="FieldLabel" name="text" mode="Display"></wv-field-password>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-password value="@textFieldValue" label-text="FieldLabel" name="text" mode="Simple"></wv-field-password>
				</div>
			</div>
		</div>
	</div>


	<h2>wv-field-percent</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-percent value="@decVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-percent>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-percent value="@decVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-percent>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-percent value="@decVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-percent>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-percent value="@decVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-percent>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-phone</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-phone value="@decVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-phone>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-phone value="@decVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-phone>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-phone value="@decVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-phone>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-phone value="@decVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-phone>
				</div>
			</div>
		</div>
	</div>


	<h2>wv-field-radio-list</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-form method="get">
						<wv-field-radio-list button-class-checked="btn-orange" button-class-unchecked="btn-outline-secondary" is-button-group="true" value="@("1")" label-text="FieldLabel" name="text1" mode="Form" options="@chkBxList"></wv-field-radio-list>
						<button type="submit">submit</button>
					</wv-form>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-radio-list value="@("1")" label-text="FieldLabel" name="text2" mode="InlineEdit" api-url="@apiUrl" options="@chkBxList"></wv-field-radio-list>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-radio-list value="@("1")" label-text="FieldLabel" name="text3" mode="Display" options="@chkBxList"></wv-field-radio-list>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-radio-list value="@("1")" label-text="FieldLabel" name="text4" mode="Simple" options="@chkBxList"></wv-field-radio-list>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-textarea</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-textarea value="@textFieldValue" label-text="FieldLabel" name="text" mode="Form" autogrow="true"></wv-field-textarea>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-textarea value="@textFieldValue" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-textarea>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-textarea value="@textFieldValue" label-text="FieldLabel" name="text" mode="Display"></wv-field-textarea>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-textarea value="@textFieldValue" label-text="FieldLabel" name="text" mode="Simple"></wv-field-textarea>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-url</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-url value="@urlVal" label-text="FieldLabel" name="text" mode="Form"></wv-field-url>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-url value="@urlVal" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-url>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-url value="@urlVal" label-text="FieldLabel" name="text" mode="Display"></wv-field-url>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-url value="@urlVal" label-text="FieldLabel" name="text" mode="Simple"></wv-field-url>
				</div>
			</div>
		</div>
	</div>


	<h2>wv-field-text</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-text size="Small" value="@textFieldValue" label-text="FieldLabel" name="text" mode="Form"></wv-field-text>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-text value="@textFieldValue" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"></wv-field-text>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-text value="@textFieldValue" label-text="FieldLabel" name="text" mode="Display"></wv-field-text>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-text value="@textFieldValue" label-text="FieldLabel" name="text" mode="Simple"></wv-field-text>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-field-data-csv</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-field-data-csv size="Small" value="@csvFieldValue" label-text="FieldLabel" name="text" mode="Form"
						delimiter-value="COMMA" has-header-value="true"></wv-field-data-csv>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Inline Edit
				</div>
				<div class="card-body">
					<wv-field-data-csv value="@csvFieldValue" label-text="FieldLabel" name="text" mode="InlineEdit" api-url="@apiUrl"
					delimiter-value="COMMA" has-header-value="true"></wv-field-data-csv>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Display
				</div>
				<div class="card-body">
					<wv-field-data-csv value="@csvFieldValue" label-text="FieldLabel" name="text" mode="Display"
					delimiter-value="COMMA" has-header-value="true"></wv-field-data-csv>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Simple
				</div>
				<div class="card-body">
					<wv-field-data-csv value="@csvFieldValue" label-text="FieldLabel" name="text" mode="Simple"
					delimiter-value="COMMA" has-header-value="true"></wv-field-data-csv>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-form</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-form name="text"></wv-form>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-grid</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-grid bordered="true" small="true" columns="@gridColumns" has-tfoot="false">
						@foreach (var record in gridRecords)
						{
							<wv-grid-row>
								<wv-grid-column>@Html.Raw(record)</wv-grid-column>
							</wv-grid-row>
						}

					</wv-grid>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-icon-card</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-icon-card icon-color="Blue" icon-class="fa fa-cog" title="This is a title" description="this is a description"></wv-icon-card>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-image-card</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-image-card image-url="@fileVal" title="This is a title" description="this is a description"></wv-image-card>
				</div>
			</div>
		</div>
	</div>


	<h2>wv-section</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Form
				</div>
				<div class="card-body">
					<wv-section title="section title" is-collapsable="true" title-tag="div">
						Some text
					</wv-section>
				</div>
			</div>
		</div>
	</div>


	<h2>wv-alert</h2>
	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Icon
				</div>
				<div class="card-body">
					<wv-alert title="section title" content="This is the alert text" icon-class="fa fa-cog" type="Success"></wv-alert>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					No Icon
				</div>
				<div class="card-body">
					<wv-alert title="section title" content="This is the alert text" type="Success"></wv-alert>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					No Title or content
				</div>
				<div class="card-body">
					<wv-alert title="" content="" icon-class="fas fa-fw fa-check" type="Success"></wv-alert>
				</div>
			</div>
		</div>
	</div>

	<h2>wv-validation</h2>

	<div class="row">
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Only errors
				</div>
				<div class="card-body">
					<wv-validation errors="valErrors"></wv-validation>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Only message
				</div>
				<div class="card-body">
					<wv-validation message="Validation Error!"></wv-validation>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					Message and errors
				</div>
				<div class="card-body">
					<wv-validation errors="valErrors" message="Validation Error!"></wv-validation>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card mt-3 mb-3">
				<div class="card-header">
					With icon and field names showing
				</div>
				<div class="card-body">
					<wv-validation errors="valErrors" message="Validation Error!" show-icon="true" show-key="true"></wv-validation>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
